div{
    background-color: black;
    height: 1000px;
    width: auto;

}

.header{
    color: aliceblue;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 48px;
    background-color: indigo;
}

.exp{
    color: aliceblue;
    font-family: sans-serif;
    font-size: 24px;
    background-color: blueviolet;
}